.customFilter {
  display: flex;
  flex-direction: column;
  gap: 10px;

  .customHeading {
    font-weight: 300;
    font-size: 24px;
  }

  .customFormItem {
    display: flex;
    flex-direction: column;
    gap: 2px;

    .customLabel {
      font-size: 10px;
    }

    .customInput,
    .customSelect {
      width: 100px;
      padding: 10px;
      border: 1px solid #e0e0e0;
      border-radius: 5px;
      font-size: 14px;
    }
  }

  .customTopSection {
    .customInput {
      width: 100%;
    }
  }

  .customBottomSection {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;

    .customSearchButton {
      width: 100px;
      padding: 6px;
      border: none;
      cursor: pointer;
      background-color: #fece51;
      border-radius: 10px;

      .customSearchIcon {
        width: 24px;
        height: 24px;
      }
    }
  }
}
